extends layout
block content
  h1= title
  if(toShow == null)
    h2 No instance to delete
  else
    - let quotesid = toShow._id
    - let quotes_type = toShow.quotes_type
    - let text = toShow.text
    - let year = toShow.year
    - let actionid = "/resource/quotes/" + quotesid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='quotesAttr mr-3') quotes ID is:
      div #{quotesid}
     div.row
      div(class='quotesAttr mr-3') quotes is:
      div #{quotes_type}
     div.row
      div(class='quotesAttr mr-3') text is:
      div #{text}
     div.row
      div(class='quotesAttr mr-3') year is:
      div #{year}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/quotes'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/quotes'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }